.container {
  height: calc(45vh - 100px);
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: center;
}

.item {
  display: flex;
  position: relative;
  flex: 1;
}

.item:last-child {
  flex: 2;
  padding: 10px;
  justify-content: space-between;
}

.copyright {
  display: flex;
  background-color: #222;
  color: lightgray;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.text {
  color: lightgray;
}

.motto {
  color: rgb(211, 211, 211);
}

.map {
  border: 0;
  width: 100%;
  height: 243px;
}

.PWA {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.android,
.apple {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.23);
  flex: none;
  cursor: pointer;
  margin: 4px;
  text-align: center;
}

.apple div h3,
.android div h3 {
  color: #b7903c;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.android div p,
.apple div p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 998px) {
  .item:last-child {
    padding: 10px;
  }

  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }

  .item {
    flex-direction: column;
    flex: 1;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }

  .map {
    width: 100vw;
  }

  .copyright {
    padding-bottom: 80px;
  }
}
