.container {
	height: 100px;
	padding: 0px 50px;
	background-color: #ffffffa3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
	backdrop-filter: blur(15px);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item {
	flex: 0.93;
	display: flex;
	align-items: center;
}

.item:nth-child(2) {
	flex: 0.9 1;
}

.item:nth-child(3) {
	flex: 1;
	z-index: 999999;
	position: sticky;
}

@media screen and (max-width: 1700px) {
	.item:nth-child(2) {
		flex: 0.87;
	}
}

@media screen and (max-width: 1500px) {
	.item:nth-child(2) {
		flex: 0.9;
	}
}

@media screen and (max-width: 1200px) {
	.item:nth-child(2) {
		flex: 0.7;
	}
}

@media screen and (max-width: 620px) {
	.item:nth-child(2) {
		flex: 1;
		order: 2;
	}

	.cartItem {
		order: 1;
	}
}

.item:last-child {
	justify-content: flex-end;
}

.callButton {
	background-color: #d63e2e;
	border-radius: 50%;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-family: 'Quicksand', serif;
}

.texts {
	margin-left: 20px;
	color: black;
}

.text:first-child {
	font-size: 12px;
	font-weight: 500;
}

.text:last-child {
	font-size: 20px;
	font-weight: bold;
}

.list {
	padding: 0;
	display: flex;
	align-items: center;
	list-style: none;
	color: black;
}

.listItem {
	margin: 20px;
	font-weight: 500;
	cursor: pointer;
}

.cart {
	position: relative;
	cursor: pointer;
}

.counter {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ff6452;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #fff;
}

.active {
	font-weight: bolder;
	color: #000;
}

@media screen and (min-width: 620px) {
	.openMainNav {
		display: none;
	}

	.mainNav {
		display: none;
	}
}

@media screen and (max-width: 620px) {
	.mainNav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		text-align: center;
		background: #ffffffb0;
		backdrop-filter: blur(5px);
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		transition: all .375s;
		-webkit-transition: all .375s;
		-moz-transition: all .375s;
		-ms-transition: all .375s;
		-o-transition: all .375s;
	}

	.mainNav.mainNavIsOpen {
		opacity: 1;
		z-index: 10000;
		visibility: visible;
	}

	.mainNav::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: -15px;
		background: #fff;
		transform-origin: 0 0;
		transform: skew(-14deg) translateX(-120%);
		transition: all .275s .1s;
		-webkit-transform: skew(-14deg) translateX(-120%);
		-moz-transform: skew(-14deg) translateX(-120%);
		-ms-transform: skew(-14deg) translateX(-120%);
		-o-transform: skew(-14deg) translateX(-120%);
		-webkit-transition: all .275s .1s;
		-moz-transition: all .275s .1s;
		-ms-transition: all .275s .1s;
		-o-transition: all .275s .1s;
	}

	.mainNav.mainNavIsOpen::before {
		transform: skew(-14deg) translateX(0);
		-webkit-transform: skew(-14deg) translateX(0);
		-moz-transform: skew(-14deg) translateX(0);
		-ms-transform: skew(-14deg) translateX(0);
		-o-transform: skew(-14deg) translateX(0);
	}

	.mainNav ul {
		display: inline-flex;
		flex-direction: column;
		height: 100%;
		align-items: flex-end;
		justify-content: center;
		transform: translateX(-18%) skew(-16deg);
		-webkit-transform: translateX(-18%) skew(-16deg);
		-moz-transform: translateX(-18%) skew(-16deg);
		-ms-transform: translateX(-18%) skew(-16deg);
		-o-transform: translateX(-18%) skew(-16deg);
	}

	.mainNav li {
		display: block;
		margin: .5rem 0;
		text-align: right;
		transform: skew(16deg);
		-webkit-transform: skew(16deg);
		-moz-transform: skew(16deg);
		-ms-transform: skew(16deg);
		-o-transform: skew(16deg);
	}

	.mainNav a {
		opacity: 0;
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
	}

	.mainNav.mainNavIsOpen a {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}

	.mainNav li:nth-child(1) a {
		transition: all 275ms 175ms;
		-webkit-transition: all 275ms 175ms;
		-moz-transition: all 275ms 175ms;
		-ms-transition: all 275ms 175ms;
		-o-transition: all 275ms 175ms;
	}

	.mainNav li:nth-child(2) a {
		transition: all 275ms 225ms;
		-webkit-transition: all 275ms 225ms;
		-moz-transition: all 275ms 225ms;
		-ms-transition: all 275ms 225ms;
		-o-transition: all 275ms 225ms;
	}

	.mainNav li:nth-child(3) a {
		transition: all 275ms 275ms;
		-webkit-transition: all 275ms 275ms;
		-moz-transition: all 275ms 275ms;
		-ms-transition: all 275ms 275ms;
		-o-transition: all 275ms 275ms;
	}

	.mainNav li:nth-child(4) a {
		transition: all 275ms 325ms;
		-webkit-transition: all 275ms 325ms;
		-moz-transition: all 275ms 325ms;
		-ms-transition: all 275ms 325ms;
		-o-transition: all 275ms 325ms;
	}

	.mainNav li:nth-child(5) a {
		transition: all 275ms 375ms;
		-webkit-transition: all 275ms 375ms;
		-moz-transition: all 275ms 375ms;
		-ms-transition: all 275ms 375ms;
		-o-transition: all 275ms 375ms;
	}

	.mainNav ul,
	.mainNav li {
		list-style: none;
		padding: 0;
	}

	.mainNav i {
		display: block;
		padding: 12px 0;
		color: #000;
		font-size: 1.4em;
		text-decoration: none;
		font-weight: bold;
	}

	.openMainNav {
		position: absolute;
		top: 33px;
		padding-top: 20px;
		right: 25px;
		z-index: 100000;
		background: none;
		border: 0;
		cursor: pointer;
	}

	.openMainNav:focus {
		outline: none;
	}

	.burger {
		position: relative;
		display: block;
		width: 28px;
		height: 4px;
		margin: 0 auto;
		background: #000;
		transform: skew(5deg);
		transition: all .275s;
		z-index: 100000;
		-webkit-transform: skew(5deg);
		-moz-transform: skew(5deg);
		-ms-transform: skew(5deg);
		-o-transform: skew(5deg);
		-webkit-transition: all .275s;
		-moz-transition: all .275s;
		-ms-transition: all .275s;
		-o-transition: all .275s;
	}

	.burger:after,
	.burger:before {
		content: '';
		display: block;
		height: 100%;
		background: #000;
		transition: all .275s;
		-webkit-transition: all .275s;
		-moz-transition: all .275s;
		-ms-transition: all .275s;
		-o-transition: all .275s;
	}

	.burger:after {
		transform: translateY(-12px) translateX(-2px) skew(-20deg);
		-webkit-transform: translateY(-12px) translateX(-2px) skew(-20deg);
		-moz-transform: translateY(-12px) translateX(-2px) skew(-20deg);
		-ms-transform: translateY(-12px) translateX(-2px) skew(-20deg);
		-o-transform: translateY(-12px) translateX(-2px) skew(-20deg);
	}

	.burger:before {
		transform: translateY(-16px) skew(-10deg);
		-webkit-transform: translateY(-16px) skew(-10deg);
		-moz-transform: translateY(-16px) skew(-10deg);
		-ms-transform: translateY(-16px) skew(-10deg);
		-o-transform: translateY(-16px) skew(-10deg);
	}

	.mainNavIsOpen .burger {
		transform: skew(5deg) translateY(-8px) rotate(-45deg);
		-webkit-transform: skew(5deg) translateY(-8px) rotate(-45deg);
		-moz-transform: skew(5deg) translateY(-8px) rotate(-45deg);
		-ms-transform: skew(5deg) translateY(-8px) rotate(-45deg);
		-o-transform: skew(5deg) translateY(-8px) rotate(-45deg);
	}

	.mainNavIsOpen .burger:before {
		transform: translateY(0px) skew(-10deg) rotate(75deg);
		-webkit-transform: translateY(0px) skew(-10deg) rotate(75deg);
		-moz-transform: translateY(0px) skew(-10deg) rotate(75deg);
		-ms-transform: translateY(0px) skew(-10deg) rotate(75deg);
		-o-transform: translateY(0px) skew(-10deg) rotate(75deg);
	}

	.mainNavIsOpen .burger:after {
		transform: translateY(-12px) translateX(10px) skew(-20deg);
		opacity: 0;
		-webkit-transform: translateY(-12px) translateX(10px) skew(-20deg);
		-moz-transform: translateY(-12px) translateX(10px) skew(-20deg);
		-ms-transform: translateY(-12px) translateX(10px) skew(-20deg);
		-o-transform: translateY(-12px) translateX(10px) skew(-20deg);
	}

	.burger-text {
		display: block;
		font-size: .675rem;
		letter-spacing: .05em;
		margin-top: .5em;
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		color: #000;
	}

	.container {
		flex-direction: row-reverse;
		padding: 0px 25px;
	}

	.phone {
		display: none;
	}
}
